<div class="imgflex d-flex justify-content-end animate__animated animate__slideInRight">
    <img src="assets/img_section3/bubbles9.png" alt="bubbles" class="bubble1">
</div>
<div class="container pt-5 mt-5" id="news">
    <p class="miniHeader">AI perspectives</p>
    <h3 class="text-primary header">Robots and AI</h3>
    <div class="firstSection">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-5 ">
                <p class="title text-primary"> Finding your place in a robotic World</p>
                <p class="text0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed libero fringilla, gravida arcu at, imperdiet sapien. Fusce euismod ipsum eget molestie feugiat. Pellentesque faucibus maximus sapien rutrum dapibus. Sed molestie vestibulum
                    nisi eu placerat. Mauris aliquet urna ex, non efficitur nisl laoreet vel. Pellentesque lobortis aliquet tellus, eu facilisis ipsum condimentum sed. Maecenas enim metus, egestas sit amet neque et, consectetur imperdiet dolor. Integer
                    nec libero enim. Duis a diam justo.</p>
            </div>
            <div class="col-11 col-md-10 col-lg-5 ml-md-5">
                <div class="imgSection1">
                    <img class="carAndHand" src="assets/img_section3/Untitled5.jpg" alt="holdinghands" id="img1">
                    <img class="carAndHand" src="assets/img_section3/fly.png" alt="flying car" id="img2">
                </div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed libero fringilla, gravida arcu at, imperdiet sapien. Fusce euismod ipsum eget molestie feugiat.</p>
            </div>
        </div>
    </div>
</div>
<div class="container secondSection">
    <p class="miniHeader"> AI perspectives</p>
    <h3 class="header text-primary">VIDEOS</h3>
</div>
<div id="background">
    <div class="container">
        <div class="bg-transparent">
            <div class="row">
                <div class="col-3 mt-5">
                    <img class="d-flex m-auto" src="assets/img_section3/1.jpg" alt="robot with a cup">
                </div>
                <div class="col-3">
                    <img class="d-flex m-auto" src="assets/img_section3/as.jpg" alt="robot standing">
                </div>
                <div class="col-3 mt-5">
                    <img class="d-flex m-auto" src="assets/img_section3/xs.jpg" alt="machineHead">
                </div>
                <div class="col-3">
                    <img class="d-flex" src="assets/img_section3/Untitled7.jpg" alt="reachingHand">
                    <p class="text imgCaption mt-3 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed libero fringilla
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="videoSection d-flex justify-content-center mt-5 pb-3">
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/-O-E1nFm6-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>