.header-bg {
    background-color: white;
}

.bg-light {
    background-color: white !important;
}

#menu {
    padding-right: 10vw;
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

#cartBtnSvg {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem
}

.btn {
    background-color: rgb(52, 15, 111);
    margin-left: 2rem;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open>.dropdown-toggle.btn {
    color: #fff;
    background-color: #00b3db;
    border-color: #fff;
}

@media screen and (max-width: 991px) {
    nav {
        margin: unset;
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: black;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}