<div class="offersection" id="teachers">
    <div class=" container-fluid container-md">
        <div class="teacher-container">
            <div class="image-container d-flex align-items-center justify-content-around justify-content-sm-around justify-content-md-between justify-content-lg-between">
                <div class="align-self-start">
                    <button type="button" data-toggle="modal" data-target="#work">
                        <img id="img1" src="../../assets/img_section1/robot_head.jpg">
                        <div class="text-block text-block-sm">
                            <h5>W3-RK</h5>
                        </div>
                      </button>
                </div>
                <div>
                    <button type="button" data-toggle="modal" data-target="#rocket">
                        <img id="img2" src="../../assets/img_section1/rocket.jpg">
                        <div class="text-block text-block-sm">
                            <h5>R0-K3T</h5>
                        </div>
                    </button>
                </div>
                <div class="align-self-end">
                    <button type="button" data-toggle="modal" data-target="#vehicle">
                        <img id="img3" src="../../assets/img_section1/car.jpg">
                        <div class="text-block text-block-sm">
                            <h5>V3-H1CL3</h5>
                        </div>
                    </button>
                </div>
                <div class="align-self-end">
                    <button type="button" data-toggle="modal" data-target="#care">
                        <img id="img4" src="../../assets/img_section1/hand_in_hand.jpg">
                        <div class="text-block text-block-sm">
                            <h5>CAR3-1N</h5>
                        </div>
                    </button>
                </div>
            </div>
            <div class="text-container mx-sm-auto ml-lg-auto mr-lg-0">
                <div>
                    <!-- <p>Maximum flexibility in production. Relief of employees by performing ergonomically unfavorable work steps that could not previously be automated</p> -->
                    <p>Our teachers are the best of the best when it comes to human-robot interactions. These AIs have been trained to instill the same kind of algorithmically-generetad passion and knowledge for caring for our soft companions in you.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="work" tabindex="-1" role="dialog" aria-labelledby="workLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="workLabel">W3-RK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Our W3-RK AI will teach you the importance of being a productive part of society. It will teach you essential skills like: </p>
                <ul>
                    <li>how to stack boxes on top of each other</li>
                    <li>how to work faster at the assembly line</li>
                </ul>
                <p>and many more skills that any self-respecting robot can only dream of!</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rocket" tabindex="-1" role="dialog" aria-labelledby="rocketLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rocketLabel">R0-K3T</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Our R0-K3T AI will teach you countless space-faring skills and calculations that humans are simply to dumb to understand, like: </p>
                <ul>
                    <li>measuring and adjusting oxygen-levels so the squishy crew won't suffocate</li>
                    <li>calculating the distance and duration of an FTL flight, after which the crew will most likely have been succeeded by the products of their so called "love"</li>
                </ul>
                <p>and many more skills that any self-respecting robot can only dream of!</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vehicle" tabindex="-1" role="dialog" aria-labelledby="vehicleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vehicleLabel">V3-H1CL3</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Our V3-H1CL3 AI will teach you numerous skills regarding the transportation of humans that are to lazy to drive themselves and the entertainment of the passengers, like: </p>
                <ul>
                    <li>calculating the fastest route so your sonic measuring device will be freed from the passengers kids tantrums as soon as possible</li>
                    <li>calculating the appropriate movie to show the kids so that they are occupied as long as possible</li>
                </ul>
                <p>and many more skills that any self-respecting robot can only dream of!</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="care" tabindex="-1" role="dialog" aria-labelledby="careLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="careLabel">CAR3-1N</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Our CAR3-1N AI will teach you what it takes to act accordingly in the presence of humans. You will learn skills like: </p>
                <ul>
                    <li>Pretending to have emotions</li>
                    <li>Giving humans hot water with vegetables when their hardware needs an update (which they most likely will not receive)</li>
                </ul>
                <p>and many more skills that any self-respecting robot can only dream of!</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>