.teacher-container button {
    outline: 0;
    border: none;
    padding: 0;
}

@media only screen and (min-width: 1200px) {
    .teacher-container button {
        transition: all 0.25s;
    }
    .offersection {
        background-image: url("/assets/img_section1/bggradient.jpg");
        height: 55rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        object-fit: cover;
        width: 16rem;
        overflow: hidden;
    }
    #img1 {
        height: 20rem;
    }
    #img2 {
        height: 32rem;
    }
    #img3 {
        height: 18rem;
    }
    #img4 {
        height: 22rem;
    }
    .image-container {
        height: 18rem;
    }
    .container {
        padding-top: 26rem;
    }
    .text-container {
        width: 32rem;
        margin-top: 2rem;
        margin-right: 1rem;
        color: white;
    }
    .teacher-container {
        padding-top: 23rem;
    }
    .teacher-container button:hover {
        transform: scale(1.025);
    }
    .teacher-container button:hover>.text-block {
        background-color: rgba(0, 0, 0, 1);
        color: rgba(256, 256, 256, 1);
    }
    .text-block {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(256, 256, 256, 0);
        padding: 0.25rem 0.75rem 0 0.75rem;
        transition: all 0.25s;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .teacher-container button {
        transition: all 0.25s;
    }
    .offersection {
        background-image: url("/assets/img_section1/bggradient.jpg");
        height: 50rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        object-fit: cover;
        width: 14rem;
        overflow: hidden;
    }
    #img1 {
        height: 18rem;
    }
    #img2 {
        height: 30rem;
    }
    #img3 {
        height: 16rem;
    }
    #img4 {
        height: 20rem;
    }
    .image-container {
        height: 16rem;
    }
    .container {
        padding-top: 24rem;
    }
    .text-container {
        width: 28rem;
        margin-top: 2rem;
        margin-right: 1rem;
        color: white;
    }
    .teacher-container {
        padding-top: 23rem;
    }
    .teacher-container button:hover {
        transform: scale(1.025);
    }
    .teacher-container button:hover>.text-block {
        background-color: rgba(0, 0, 0, 1);
        color: rgba(256, 256, 256, 1);
    }
    .text-block {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(256, 256, 256, 0);
        padding: 0.25rem 0.75rem 0 0.75rem;
        transition: all 0.25s;
        z-index: 10;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .offersection {
        background-image: url("/assets/img_section1/bggradient.jpg");
        height: 35rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        object-fit: cover;
        width: 9rem;
        overflow: hidden;
    }
    #img1 {
        height: 11rem;
    }
    #img2 {
        height: 17rem;
    }
    #img3 {
        height: 10rem;
    }
    #img4 {
        height: 12rem;
    }
    .image-container {
        height: 10rem;
    }
    .container {
        padding-top: 13rem;
    }
    .text-container {
        width: 30rem;
        margin-right: 0.5rem;
        margin-top: 6rem;
        color: white;
    }
    .teacher-container {
        padding-top: 10rem;
    }
    .text-container p {
        text-align: center;
    }
    .text-block {
        background-color: rgb(0, 0, 0);
        color: rgb(256, 256, 256);
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
        z-index: 10;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .offersection {
        background-image: url("/assets/img_section1/bggradient.jpg");
        height: 35rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        object-fit: cover;
        width: 8rem;
        overflow: hidden;
    }
    #img1 {
        height: 11rem;
    }
    #img2 {
        height: 17rem;
    }
    #img3 {
        height: 10rem;
    }
    #img4 {
        height: 12rem;
    }
    .image-container {
        height: 10rem;
    }
    .container {
        padding-top: 13rem;
    }
    .text-container {
        width: 30rem;
        margin-right: 0.5rem;
        margin-top: 6rem;
        color: white;
    }
    .teacher-container {
        padding-top: 10rem;
    }
    .text-container p {
        text-align: center;
    }
    .text-block {
        background-color: rgb(0, 0, 0);
        color: rgb(256, 256, 256);
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
        z-index: 10;
    }
}

@media only screen and (max-width: 576px) {
    .offersection {
        background-image: url("/assets/img_section1/bggradient.jpg");
        height: 35rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        object-fit: cover;
        width: 7rem;
        overflow: hidden;
    }
    #img1 {
        height: 11rem;
    }
    #img2 {
        height: 17rem;
    }
    #img3 {
        height: 10rem;
    }
    #img4 {
        height: 12rem;
    }
    .image-container {
        height: 10rem;
    }
    .container {
        padding-top: 13rem;
    }
    .text-container {
        width: 30rem;
        margin-right: 0.5rem;
        margin-top: 6rem;
        color: white;
    }
    .teacher-container {
        padding-top: 10rem;
    }
    .text-container p {
        text-align: center;
    }
    .text-block {
        background-color: rgb(0, 0, 0);
        color: rgb(256, 256, 256);
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
        z-index: 10;
    }
}