.post-media img:hover,
.carousel-item img:hover {
    transform: scale(1.025);
    box-shadow: 2px 2px 18px #652DB6;
}

.post-media img,
.carousel-item img {
    transition: all 0.25s;
}

small a {
    position: relative;
    bottom: 0;
}