<div class="offersection">
    <div class="container">
        <h5 class="mt-5">Technology News</h5>
        <h3>Human-robot</h3>
        <hr>
        <p>In human-robot collaboration, the robot assists the human operator. This means: The machine does not replace the human, but complements his capabilities and relieves him of arduous tasks. These can include overhead work, for example, or the lifting
            of heavy loads. Autonomous, collaborative robots are also used to supply production workstations</p>
        <button class="btn btn-primary mb-5" routerLink="/news">LEARN MORE</button>
    </div>
</div>